@import 'src/assets/scss/variables';

.last-winners {
  background-color: #000000;
  box-shadow: -0.3px 5px 1px 0 rgba(0, 0, 0, 0.95), inset 0 3px 3px 3px rgba(0, 10, 72, 0.85);
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to top, #3b42c5, #c0dcff);
  border-image-slice: 1;
  padding: 22px 0;
  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media #{$desktop} {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  h4 {
    font-size: rem-calc(14);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 8px;
    text-shadow: 0 0 8px rgba(231, 57, 57, 0.75),
                 0 0 8px rgba(231, 57, 57, 0.75),
                 0 0 8px rgba(231, 57, 57, 0.75),
                 0 0 8px rgba(231, 57, 57, 0.75),
                 0 0 8px rgba(231, 57, 57, 0.75),
                 0 0 8px rgba(231, 57, 57, 0.75),
                 0 0 8px rgba(231, 82, 57, 0.75);
    color: #ffce81;
  }
}

.last-winners__carusel {
  max-width: 507px;
  padding: 0 25px;
  width: 100%;

  &-item {
    color: #fff;
    font-size: rem-calc(12);
    margin-right: 27px;
    display: flex;
    width: 100%;

    &-content {
      display: block;
    }

    img {
      margin-right: $margin-1;
      border-style: solid;
      border-width: 1px;
      border-image-source: linear-gradient(to right, #91602b, #91752b 10%, #d4b661 20%, #f9f1ae 30%, #d4b661 40%, #f9f1ae 50%, #d4b661 60%, #f9f1ae 70%, #d4b661 80%, #91752b 90%, #91602b);
      border-image-slice: 1;
    }

    &-title {
      font-weight: 700;
      line-height: 1;
      display: block;
      white-space: nowrap;
    }

    &-price {
      color: $menu-link-hover;
      font-weight: 700;
      line-height: 1.6;
      display: block;
    }

    &-name {
      font-size: rem-calc(10);
      line-height: 1.2;
      display: block;
    }
  }

  .slick-initialized .slick-slide {
    display: flex;
  }

  .slick-arrow {
    background: none;
    width: auto;
    height: auto;

    &:before {
      content: "\f104";
      font-size: rem-calc(33);
      text-shadow: 0 0 8px rgba(231, 57, 57, 0.75),
                   0 0 8px rgba(231, 57, 57, 0.75),
                   0 0 8px rgba(231, 57, 57, 0.75),
                   0 0 8px rgba(231, 57, 57, 0.75),
                   0 0 8px rgba(231, 57, 57, 0.75),
                   0 0 8px rgba(231, 57, 57, 0.75),
                   0 0 8px rgba(231, 57, 57, 0.75),
                   0 0 8px rgba(231, 57, 57, 0.75);
      display: block;
      color: #ffd0ca;
      font-family: FontAwesome;
      opacity: 1;
      transition: all $default-time;
    }

    &:hover {
      &:before {
        color: #fbdcd4;
        text-shadow: 0 0 20px rgba(255, 121, 85, 0.72),
                     0 0 20px rgba(255, 121, 85, 0.72),
                     0 0 20px rgba(255, 121, 85, 0.72),
                     0 0 20px rgba(255, 121, 85, 0.72),
                     0 0 20px rgba(255, 121, 85, 0.72);
      }
    }
  }

  .slick-next {
    &:before {
      content: "\f105";
    }
  }

  .slick-track {
    display: flex;
  }
}

.jackpot-info__contain {
  width: 100%;
  margin: 20px 0;

  @media #{$mobile} {
    margin: 0;
    margin-left: $margin-5;
    width: auto;
  }

  ul {
    display: flex;
    @extend %list-reset;
    flex-direction: column;
    @media #{$mobile} {
      flex-direction: row;
    }

    li {
      display: flex;
      align-items: center;
      margin-right: 28px;

      &:last-child {
        margin: 0;
      }
    }
  }

  img {
    border-radius: 50%;
    margin-right: 5px;
  }

  span {
    font-size: rem-calc(18);
    font-weight: 700;
    line-height: 0.87;
    letter-spacing: -0.9px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .jackpot-info__gold {
    img {
      box-shadow: inset 0 -5px 5px rgba(243, 196, 10, 0.75), 0 0 18px 5px rgba(245, 251, 255, 0.51);
      border: solid 1px #fffb81;
    }

    span {
      background-image: linear-gradient(to top, #fefacf, #bf792a 5%, #fed204 30%, #feeb8e 50%, #fed204 70%, #bf7a2a 95%, #efe15c 100%), linear-gradient(#e8e9ea, #e8e9ea);
    }
  }

  .jackpot-info__silver {
    img {
      box-shadow: inset 0 -5px 5px rgba(137, 137, 137, 0.75), 0 0 18px 5px rgba(245, 251, 255, 0.51);
      border: solid 1px #c0dcff;
    }

    span {
      background-image: linear-gradient(to top, #ffffff, #636464 5%, #cecdcd 30%, #ffffff 50%, #cecdcd 70%, #636464 95%, #ffffff 100%), linear-gradient(#e8e9ea, #e8e9ea);
    }
  }

  .jackpot-info__bronze {
    img {
      box-shadow: inset 0 -5px 5px rgba(243, 131, 10, 0.75), 0 0 18px 5px rgba(245, 251, 255, 0.51);
      border: solid 1px #ffd181;
    }

    span {
      background-image: linear-gradient(to top, #fff1cf, #9e5324 5%, #ec964b 30%, #fef1d0 50%, #ec964b 70%, #9e5424 95%, #fef1d0 100%), linear-gradient(#e8e9ea, #e8e9ea);
    }
  }
}
