@import 'src/assets/scss/variables';

.header__top {
  background-color: $top-bg;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media #{$mobile} {
      height: 51px;
    }
  }
}

.menu {
  display: none;
  @extend %list-reset;
  margin-left: -$margin-1;
  @media #{$desktop} {
    display: flex;
  }

  &.active {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
  }

  a {
    color: $menu-link;
    font-size: rem-calc(11);
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 $margin-1;
    transition: all $default-time;

    &:hover {
      text-shadow:  $brand-text-shadow-orange,
                    $brand-text-shadow-orange,
                    $brand-text-shadow-orange,
                    $brand-text-shadow-orange,
                    $brand-text-shadow-orange,
                    $brand-text-shadow-orange,
                    $brand-text-shadow-orange,
                    $brand-text-shadow-orange;
      color: $menu-link-hover;

    }
  }
}

.fast-registration {
  color: #ffce81;
  font-size: rem-calc(14);
  text-shadow:  $brand-text-shadow-orange,
                $brand-text-shadow-orange,
                $brand-text-shadow-orange,
                $brand-text-shadow-orange,
                $brand-text-shadow-orange,
                $brand-text-shadow-orange,
                $brand-text-shadow-orange,
                $brand-text-shadow-orange;

  i {
    display: inline-block;
    margin-right: 5px;
    color: #81fbff;
    transition: all $default-time;
    text-shadow:  $brand-text-shadow-blue,
                  $brand-text-shadow-blue,
                  $brand-text-shadow-blue,
                  $brand-text-shadow-blue,
                  $brand-text-shadow-blue,
                  $brand-text-shadow-blue,
                  $brand-text-shadow-blue,
                  $brand-text-shadow-blue;
  }

  &:hover {
    text-shadow:  $brand-text-shadow-orange,
                  $brand-text-shadow-orange,
                  $brand-text-shadow-orange,
                  $brand-text-shadow-orange,
                  $brand-text-shadow-orange,
                  $brand-text-shadow-orange,
                  $brand-text-shadow-orange,
                  $brand-text-shadow-orange,
                  $brand-text-shadow-orange,
                  $brand-text-shadow-orange,
                  $brand-text-shadow-orange,
                  $brand-text-shadow-orange;
  }
}

.social {
  display: flex;
  @extend %list-reset;

  li {
    margin-right: 15px;

    &:last-child {
      margin: 0;
    }
  }

  a {
    width: 23px;
    height: 23px;
    background-color: #656666;
    color: #fff;
    border-radius: $radius;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all $default-time;
    font-size: rem-calc(10);

    &:hover {
      box-shadow: $brand-shadow-orange;
      background-color: #ffce81;
      color: #793600;
    }
  }
}

.lang {
  position: relative;

  ul {
    @extend %list-reset;
    position: absolute;
    top: 24px;
    background: #000;
    z-index: 100;
    display: none;
    padding: 5px;

    &.active {
      display: block;
    }

    li {
      margin: 5px 0;
    }
  }

  a,
  .current {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #656666;
    font-size: rem-calc(12);
    font-weight: 300;
    cursor: pointer;
    transition: all $default-time;

    &:hover {
      color: $menu-link-hover;
      text-shadow:  $brand-text-shadow-orange,
                    $brand-text-shadow-orange,
                    $brand-text-shadow-orange,
                    $brand-text-shadow-orange,
                    $brand-text-shadow-orange,
                    $brand-text-shadow-orange,
                    $brand-text-shadow-orange,
                    $brand-text-shadow-orange;

      i {
        text-shadow: none;
      }
    }

    span {
      line-height: 1;
      display: none;

      @media #{$laptop} {
        display: block;
      }
    }

    img {
      border: 1px solid #505050;
      width: 22px;
      height: 22px;
      margin-right: $margin-1;
    }

    i {
      font-size: rem-calc(10);
      display: inline-block;
      margin-left: 7px;
      color: #656666;
    }
  }
}

.toggle-menu {
  display: flex;
  width: 30px;
  height: 12px;
  padding: 10px;
  box-sizing: content-box;
  position: relative;
  z-index: 400;
  background: none;
  border: 0;

  @media #{$desktop} {
    display: none;
  }

  &.active {
    span {
      &::after {
        transform: rotate(45deg);
        top: 8px;
      }

      &::before {
        transform: rotate(-45deg);
        top: 8px;
      }
    }
  }

  span {
    position: relative;
    height: 12px;
    display: block;

    &::after,
    &::before {
      content: "";
      width: 30px;
      height: 3px;
      background-color: #fff;
      position: absolute;
      top: 0;
      border-radius: 4px;
      transition: all $default-time;
    }

    &::before {
      bottom: 0;
      top: auto;
    }
  }
}
